[user]
	name = Masaori Koshiba
	email = masaori335@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/masaori/.gitignore
	autocrlf = input
[alias]
	a = add
	b = branch
	c = checkout
	d = diff
	r = reset
	s = status
        ct = "!f(){ git c -b $1 refs/tags/$1; }; f"
# [pager]
#         log = diff-highlight | less
#         show = diff-highlight | less
#         diff = diff-highlight | less
[push]
	default = simple
