[user]
	name = Masaori Koshiba
	email = masaori335@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/masaori/.gitignore
[alias]
	a = add
	b = branch
	c = checkout
	d = diff
	r = reset
	s = status

